.popup {
    margin-top: -25px;
    border-radius: 5px;
}
.modal {
    margin-left: 35px;
}
.open_btn {
    height: 25px;
    background-color: darkslategray;
    color: white;
    margin-left: 580px;
    outline: none;
}
.save_btn {
    height: 25px;
    width: 70px;
    cursor: pointer;
    outline: none;
    margin: 10px 20px 0 450px;
    border-radius: 5px;
    background-color: darkslategray;
    color: white;
}
.close_btn {
    height: 25px;
    width: 70px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: darkslategray;
    color: white;
}