.eButton {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 2px;
    background-color: white;
    display: grid;
}
.icon {
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    color: darkslategray;
    background-color: white;
}
