.paragraph{
    font-weight: bolder;
    margin-top: 18px;
    padding-left: 20px;
    padding-top: 10px;
    width: 600px;
    height: 50px;
    cursor: move;
}
.paragraph:hover{
    background-color: white;
    border-style: groove;
}
label{
    font-size: 18px;
    color: darkslategray;
    height: 15px;
    display: block;
}
.eButton {
    cursor: pointer;
    outline: none;
    margin-left: 460px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
}
.dButton {
    cursor: pointer;
    outline: none;
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
}
.icon{
    height: 17px;
    width: 17px;
    margin-top: -2px;
    margin-left: -4px;
    color: darkslategray;
    background-color: white;
}
