.linebreak {
    width: 590px;
    height: 30px;
    margin-top: 5px;
    padding-top: 7px;
    padding-left: 15px;
    border: 2px solid white;
    cursor: move;
}

.linebreak:hover {
    border: 2px solid lightsteelblue;
    background-color: white;
    border-radius: 5px;
}

.line {
    background-color: darkslategray;
    width: 470px;
    margin-left: 10px;
    height: 3px;
    margin-bottom: -10px;
}

.dButton {
    cursor: pointer;
    outline: none;
    float: right;
    margin-right: 13px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
}

.icon {
    height: 17px;
    width: 17px;
    margin-top: -2px;
    margin-left: -6px;
    color: darkslategray;
    background-color: white;
}
