.form_header {
    height: 24px;
    font-size: 20px;
}

.form_label {
    height: 20px;
    font-size: 16px;
}

.form_paragraph {
    height: 16px;
    font-size: 12px;
}

.form_select {
    margin-top: 5px;
    width: 220px;
    outline: none;
    height: 30px;
    border-radius: 3px;
}

.form_box {
    display: grid;
    padding-top: 5px;
}

.form_box_label{
    display: flex;
    margin-top: 3px;
}

.form_box_label input{
    margin-top: 18px;
    margin-right: 15px;
}

.form_input{
    margin-top: 10px;
    display: grid;
    margin-bottom: 20px;
}

.form_input input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 217px;
    outline: none;
    height: 30px;
    border-radius: 3px;
}

.form_image{}

