.popup {
    margin-top: -25px;
    margin-left: 20px;
    border-radius: 5px;
    width: 643px;
}

.modal {
    min-height: 180px;
    width: 643px;
    border-style: ridge;
    background-color: lightsteelblue;;
    padding-top: -25px;
    padding-left: 25px;
    display: inline-block;
}

label {
    font-size: 15px;
    font-weight: bolder;
}

.buttons {
    height: 50px;
    width: 80px;
    display: flex;
    margin-top: -15px;
}

.option{
    height: 18px;
    width: 200px;
    border-radius: 3px;
    margin-top: 11px;
    outline: none;
}

.value {
    height: 18px;
    width: 100px;
    border-radius: 3px;
    margin-top: 11px;
    outline: none;
}

.cButton {
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
    display: grid;
    margin-left: 480px;
    margin-top: 5px;
}

.eButton {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    border-radius: 2px;
    background-color: white;
    display: grid;
}

.plus_icon {
    height: 18px;
    width: 18px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: yellowgreen;
}

.minus_icon {
    height: 18px;
    width: 18px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: lightslategray;
}

.icon {
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    color: darkslategray;
    background-color: white;
}

.plus_btn {
    cursor: pointer;
    outline: none;
    width: 23px;
    height: 23px;
    margin-top: 28px;
    border-radius: 2px;
    background-color: white;
    display: grid;
}

.minus_btn {
    cursor: pointer;
    outline: none;
    width: 23px;
    height: 23px;
    margin-top: 28px;
    border-radius: 2px;
    background-color: white;
    margin-left: 8px;
}