.popup {
    margin-top: -25px;
    margin-left: 20px;
    border-radius: 5px;
    width: 643px;
}

.modal {
    min-height: 250px;
    width: 643px;
    border-style: ridge;
    background-color: lightsteelblue;;
    padding-top: -25px;
    padding-left: 25px;
    display: inline-block;
}

.buttons {
    height: 50px;
    width: 80px;
    display: flex;
    margin-top: -15px;
}

.add_input{
    height: 24px;
    width: 300px;
    border-radius: 3px;
    margin-top: 11px;
    outline: none;
}

.form{
    margin-left: -20px;
}

.form li {
    margin-top: 10px;
    height: 25px;
    color: darkslategray;
    font-size: 15px;
    display: block;
}

.form p{
    margin-top: -36px;
    margin-left: 70px;
}

input {
    height: 20px;
    margin-bottom: -30px;
    margin-top: 13px;
}

.cButton {
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
    display: grid;
    margin-left: 480px;
    margin-top: 5px;
}

.eButton {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    border-radius: 2px;
    background-color: white;
    display: grid;
}

.plus_icon {
    height: 25px;
    width: 40px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: yellowgreen;
}

.minus_icon {
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: lightslategray;
}

.icon {
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    color: darkslategray;
    background-color: white;
}

.plus_btn {
    cursor: pointer;
    outline: none;
    width: 45px;
    height: 29px;
    border-radius: 2px;
    background-color: white;
    display: grid;
    float: right;
    margin-top: 11px;
    margin-right: 300px;
}

.minus_btn {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
    float: right;
    margin-right: 360px;
    margin-top: -30px;
}