.checkbox {
    width: 580px;
    min-height: 17px;
    margin-top: 15px;
    padding-left: 25px;
    border: 3px solid white;
    cursor: move;
}

.checkbox:hover {
    border: 3px solid darkslategray;
    border-radius: 5px;
}
.text_zone{
    min-height: 120px;
    width: 290px;
    display: grid;
}

input {
    margin-right: 15px;
}

.textarea {
    margin-top: 2px;
    height: 16px;
    width: 290px;
    display: grid;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid darkslategray;
    font-weight: bolder;
    color: darkslategray;
}

.form {
    min-height: 80px;
    width: 290px;
    display: grid;
}

.title {
    margin-bottom: -13px;
    margin-top: 5px;
    font-size: 18px;
    height: 15px;
    width: 300px;
    color: darkslategray;
}

.label {
    margin-top: 10px;
    font-size: 15px;
    height: 10px;
    width: 290px;
}

.text_area {
    font-size: 17px;
    height: 27px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border-style: groove;
}

.eButton {
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    margin-right: 40px;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
}

.dButton {
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    margin-right: -50px;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
}

.icon {
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    color: darkslategray;
    background-color: white;
}

.text_a {
    font-size: 17px;
    height: 27px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border-style: groove;
    margin-top: 15px;
}