.multiple_choice{
    width: 560px;
    height: 100px;
    margin-top: 15px;
    padding-left: 25px;
    display: flex;
    cursor: move;
    background-color: white;
    border-style: groove;
}
.multiple_choice:hover {
    border-radius: 10px;
    background-color: lightsteelblue;
}
.box{
    margin-top: 5px;
    height: 17px;
    width: 285px;
    display: grid;
}
p{
    margin-top: 5px;
    font-size: 15px;
    height: 15px;
    width: 300px;
    color: darkslategray;
}
.form{
    min-height: 80px;
    width: 290px;
    display: grid;
}
.title{
    margin-bottom: -13px;
    font-size: 18px;
    height: 15px;
    width: 300px;
    color: darkslategray;
}
.label {
    margin-top: 10px;
    font-size: 15px;
    height: 10px;
    width: 290px;
}
.text_area {
    font-size: 17px;
    height: 27px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border-style: groove;
}
.eButton {
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    margin-left: 200px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
}
.dButton {
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
}
.icon{
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-left: -5px;
    color: darkslategray;
    background-color: white;
}
.text_a {
    font-size: 17px;
    height: 27px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border-style: groove;
    margin-top:15px;
}